body {
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url('images/Market.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  text-shadow: 1px 1px 2px white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  margin: 3vh auto 0;
  margin-bottom: 3vh;
}

/* Navbar styling */
.navbar {
  background-color: rgba(0, 128, 128, 0.5);
  font: Courier;
  font-size: 25px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: 20vh;
  height: auto;
  margin-left: 10px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar ul a {
  text-decoration: none;
  color: white;
  font-size: 28px;
  margin-left: 20px;
}

.navbar ul a:last-child {
  margin-right: 20px; 
}

.page-wrapper {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

/* Footer Styling */
.footer {
  background-color: rgba(0, 128, 128, 0.5);
  font: Courier;
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; 
  flex-direction: column; /* Stack the links vertically */
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer p {
  margin: 0;
  color: white;
  text-align: right;
}

/* Homepage styling */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.welcome {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.buy-button,
.sell-button {
  display: inline-block;
  padding: 15px 40px;
  margin: 0 20px;
  font-size: 1.5rem;
  background-color: rgba(0, 128, 128, 0.7);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.buy-button:hover,
.sell-button:hover {
  background-color: rgba(0, 128, 128, 1);
}

.sell-container {
  margin-top: 20px; 
}

.sell-container label {
  margin-bottom: 15px; 
}

.sell-container input {
  margin-bottom: 15px; 
}

.sell-container button {
  margin-top: 15px; 
  margin-bottom: 15vh;
}

/* ContactBox styling */
.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

textarea{
  height: 40vh;
  width: 80vh;
}